version = "1.0"

[main]
name = "Transfer.sh configuration"
services = ["__APP__"]

    [main.config]
    name = "Configuration Options"

        [main.config.purge_day]
        ask = "Interval for automatic purge"
        type = "string"
        help = "Interval in hours to run the automatic purge for (not applicable to S3 and Storj)"
        bind = "PURGE_DAYS:__FINALPATH__/.env"

        [main.config.max_upload_size]
        ask = "Select metadata extractor"
        type = "select"
        choices = ["-", "5", "10"]
        default = "-"
        help = "Max upload size in kilobytes"
        bind = "MAX_UPLOAD_SIZE:__FINALPATH__/.env"

        [main.config.max_days]
        ask = "Max days"
        type = "select"
        choices = ["-", "5", "10"]
        default = "-"
        help = "Set the number of days before deletion"
        bind = "MAX_DAYS:__FINALPATH__/.env"

        [main.config.max_downloads]
        ask = "Max downloads"
        type = "select"
        choices = ["-", "1", "5", "10"]
        default = "-"
        help = "Limit the number of downloads"
        bind = "MAX_DOWNLOADS:__FINALPATH__/.env"
